<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/ttt.css">
    </head>    
    <body>
        <h1>Tic-Tac-Toe</h1>
        <p>Hello {{name}}, {{date}}</p>
        <table id="table">
            <tr>
                <td class="cell" id="0"> </td>
                <td class="cell" id="1"> </td>
                <td class="cell" id="2"> </td>
            </tr>
            <tr>
                <td class="cell" id="3"> </td>
                <td class="cell" id="4"> </td>
                <td class="cell" id="5"> </td>
            </tr>
            <tr>
                <td class="cell" id="6"> </td>
                <td class="cell" id="7"> </td>
                <td class="cell" id="8"> </td>
            </tr>
        </table>
        <button id="ng">New Game</button>
        <h1 id="winner"></h1>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../static/js/ttt.js"></script>
</html>